.wp-block-tpwb-second-block {
    background-color: #524d5b;
    color: #fff;
    border-radius: 5px;
    padding: 20px;
    &.is-style-squared {
        border-radius: 0;
    }
    &.is-style-outline {
        border-radius: 0;
        border: 2px solid currentColor
    }
}